AzureListaClientes/Web References/Azure/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Guardar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Saldo" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuardarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Busqueda">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Actualizar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Numero" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Saldo" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ActualizarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ActualizarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarIMC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Peso" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Estatura" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Resultado" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarIMCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuardarIMCResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarIMC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Dia" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Mes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarIMCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarIMCResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Domicilio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Edad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Saldo" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuardarLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Folio" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaLoginResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignUp_ExF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignUp_ExFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignUp_ExFResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountLogin_ExF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psw" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountLogin_ExFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CountLogin_ExFResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoSignUp_ExF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NoSignUp_ExFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NoSignUp_ExFResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardarSoapIn">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="GuardarSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaSoapIn">
    <wsdl:part name="parameters" element="tns:Busqueda" />
  </wsdl:message>
  <wsdl:message name="BusquedaSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapIn">
    <wsdl:part name="parameters" element="tns:Actualizar" />
  </wsdl:message>
  <wsdl:message name="ActualizarSoapOut">
    <wsdl:part name="parameters" element="tns:ActualizarResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarIMCSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarIMC" />
  </wsdl:message>
  <wsdl:message name="GuardarIMCSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarIMCResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarIMCSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarIMC" />
  </wsdl:message>
  <wsdl:message name="BuscarIMCSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarIMCResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarLoginSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarLogin" />
  </wsdl:message>
  <wsdl:message name="GuardarLoginSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarLoginResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaLoginSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaLogin" />
  </wsdl:message>
  <wsdl:message name="BusquedaLoginSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaLoginResponse" />
  </wsdl:message>
  <wsdl:message name="SignUp_ExFSoapIn">
    <wsdl:part name="parameters" element="tns:SignUp_ExF" />
  </wsdl:message>
  <wsdl:message name="SignUp_ExFSoapOut">
    <wsdl:part name="parameters" element="tns:SignUp_ExFResponse" />
  </wsdl:message>
  <wsdl:message name="CountLogin_ExFSoapIn">
    <wsdl:part name="parameters" element="tns:CountLogin_ExF" />
  </wsdl:message>
  <wsdl:message name="CountLogin_ExFSoapOut">
    <wsdl:part name="parameters" element="tns:CountLogin_ExFResponse" />
  </wsdl:message>
  <wsdl:message name="NoSignUp_ExFSoapIn">
    <wsdl:part name="parameters" element="tns:NoSignUp_ExF" />
  </wsdl:message>
  <wsdl:message name="NoSignUp_ExFSoapOut">
    <wsdl:part name="parameters" element="tns:NoSignUp_ExFResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="Guardar">
      <wsdl:input message="tns:GuardarSoapIn" />
      <wsdl:output message="tns:GuardarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Busqueda">
      <wsdl:input message="tns:BusquedaSoapIn" />
      <wsdl:output message="tns:BusquedaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <wsdl:input message="tns:ActualizarSoapIn" />
      <wsdl:output message="tns:ActualizarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarIMC">
      <wsdl:input message="tns:GuardarIMCSoapIn" />
      <wsdl:output message="tns:GuardarIMCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarIMC">
      <wsdl:input message="tns:BuscarIMCSoapIn" />
      <wsdl:output message="tns:BuscarIMCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarLogin">
      <wsdl:input message="tns:GuardarLoginSoapIn" />
      <wsdl:output message="tns:GuardarLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaLogin">
      <wsdl:input message="tns:BusquedaLoginSoapIn" />
      <wsdl:output message="tns:BusquedaLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignUp_ExF">
      <wsdl:input message="tns:SignUp_ExFSoapIn" />
      <wsdl:output message="tns:SignUp_ExFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountLogin_ExF">
      <wsdl:input message="tns:CountLogin_ExFSoapIn" />
      <wsdl:output message="tns:CountLogin_ExFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NoSignUp_ExF">
      <wsdl:input message="tns:NoSignUp_ExFSoapIn" />
      <wsdl:output message="tns:NoSignUp_ExFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Busqueda">
      <soap:operation soapAction="http://tempuri.org/Busqueda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarIMC">
      <soap:operation soapAction="http://tempuri.org/GuardarIMC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarIMC">
      <soap:operation soapAction="http://tempuri.org/BuscarIMC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarLogin">
      <soap:operation soapAction="http://tempuri.org/GuardarLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaLogin">
      <soap:operation soapAction="http://tempuri.org/BusquedaLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp_ExF">
      <soap:operation soapAction="http://tempuri.org/SignUp_ExF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountLogin_ExF">
      <soap:operation soapAction="http://tempuri.org/CountLogin_ExF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NoSignUp_ExF">
      <soap:operation soapAction="http://tempuri.org/NoSignUp_ExF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Guardar">
      <soap12:operation soapAction="http://tempuri.org/Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Busqueda">
      <soap12:operation soapAction="http://tempuri.org/Busqueda" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Actualizar">
      <soap12:operation soapAction="http://tempuri.org/Actualizar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarIMC">
      <soap12:operation soapAction="http://tempuri.org/GuardarIMC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarIMC">
      <soap12:operation soapAction="http://tempuri.org/BuscarIMC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarLogin">
      <soap12:operation soapAction="http://tempuri.org/GuardarLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaLogin">
      <soap12:operation soapAction="http://tempuri.org/BusquedaLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp_ExF">
      <soap12:operation soapAction="http://tempuri.org/SignUp_ExF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountLogin_ExF">
      <soap12:operation soapAction="http://tempuri.org/CountLogin_ExF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NoSignUp_ExF">
      <soap12:operation soapAction="http://tempuri.org/NoSignUp_ExF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://alvarom.azurewebsites.net/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://alvarom.azurewebsites.net/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>